@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.logo p{
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    font-weight: 900;
    line-height: 1.3;
}
.topBar{
     display: flex;
     padding: 0;
     margin: 0 0 0 10px;
}
.logo *{
    display: inline !important;
}
.containerIcon{
    display: flex;
    position: relative;
    text-align: right;
    left: 40%;
}
.containerIcon *{
    margin: 3px;
}
.containerOfState{
    display: flex;
    margin: 5px 3px;
    text-align: center;
}
.containerOfState .state{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 2px;

    border: 4px linear-gradient(127deg, rgba(131,58,180,1) 19%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 73%);

    background: rgb(131,58,180);
    background: linear-gradient(127deg, rgba(131,58,180,1) 19%, rgba(253,29,29,1) 54%, rgba(252,176,69,1) 73%);
}
.bottomBar{
    text-align: center;
}
.bottomBar *{
    margin: 2px 14px;
}
.content{
    width: auto;
    height: 433px;
}
.containerOfState .containerP p{
    font-size: xx-small;
    font-weight: 100;
    line-height: 0;
    /* width: 2px; */
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    margin-top: 8px;
    text-align: center;
    cursor: default;
}
.containerOfState .containerP, .material-symbols-outlined{
    cursor: pointer;
}
