@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.logo p{
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    font-weight: 900;
    line-height: 1.3;
}
.topBar{
     display: flex;
     /* justify-content: center; */
     padding: 0;
     margin: 0 0 0 10px;
}
.logo *{
    display: inline !important;
}
.containerIcon{
    display: flex;
    position: relative;
    /* margin-top: 14px; */
    text-align: right;
    left: 40%;
}
.containerIcon *{
    margin: 3px;
}
.containerOfState{
    display: flex;
    margin: 5px 3px;
}
.containerOfState .state{
    height: 40px;
    width: 50px;
    border-radius: 50%;
    background: #FF0000;
    margin: 0 4px;
}
.bottomBar{
    text-align: center;
    /* position: relative; */
    /* top: 51vh; */
    /* bottom: 70px; */
}
.bottomBar *{
    margin: 2px 14px;
}
.content{
    width: auto;
    height: 450px;
    background-color: aqua;
    /* background: transparent; */
}
